Source: python-nagios-plugin
Section: python
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Build-Depends: debhelper (>= 7.0.50~),
               ghostscript,
               help2man,
               python-all (>= 2.6.5-2~),
               python-argparse,
               python-docutils,
               python-epydoc,
               python-pkg-resources,
               python3-all,
               texlive-latex-base,
               texlive-latex-extra
Standards-Version: 3.9.5
Homepage: http://git.pb.local/gitweb/?p=python/nagios-plugin.git
Vcs-Browser: http://git.pb.local/gitweb/?p=python/nagios-plugin.git
Vcs-Git: git+ssh://git.pb.local/srv/git/python/nagios-plugin.git
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.2

Package: python-nagios-plugin
Architecture: all
Depends: python-argparse,
         python-pkg-resources,
         ${misc:Depends},
         ${python:Depends}
Description: Base module for Nagios check plugins written in Python
 This package provides a family of Python modules
 to streamline writing Nagios plugins.
 .
 These modules are rewritten modules originated by the
 Perl module family Nagios::Plugin.

Package: python3-nagios-plugin
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Base module for Nagios check plugins written in Python
 This package provides a family of Python modules
 to streamline writing Nagios plugins.
 .
 These modules are rewritten modules originated by the
 Perl module family Nagios::Plugin.

Package: pb-nagios-plugins
Architecture: all
Depends: libdbd-pg-perl,
         nagios-plugins-basic,
         python-argparse,
         python-nagios-plugin (= ${binary:Version}),
         python-pkg-resources,
         ${misc:Depends},
         ${python:Depends}
Conflicts: pb-nagios-plugins-python3
Recommends: ipmitool, python-dcmanager-client (>= 0.9.2-1), smartmontools
Description: Additional Nagios plugins for usage by ProfitBricks

Package: pb-nagios-plugins-python3
Architecture: all
Depends: python3-nagios-plugin (= ${binary:Version}),
         ${misc:Depends},
         ${python3:Depends}
Conflicts: pb-nagios-plugins
Recommends: ipmitool, python3-dcmanager-client (>= 0.9.2-1), smartmontools
Description: Additional Nagios plugins for usage by ProfitBricks

Package: python-nagios-plugin-doc
Architecture: all
Suggests: pdf-viewer, python-nagios-plugin (= ${binary:Version}), www-browser
Description: Base module for Nagios check plugins written in Python - documentation
 .
 This package contains the documentation in HTML and PDF format.

Package: pb-config-nagios-nrpe-server
Architecture: all
Suggests: python-nagios-plugin (= ${binary:Version})
Depends: nagios-nrpe-server
Description: Config file replacements for nagios-nrpe-server
 .
 This package contains the profitbricks configuration for nrpe. Replaces
 /etc/nagios/nrpe.cfg from nagios-nrpe-server.
