Source: python-nagios-plugin
Section: python
Priority: extra
Maintainer: Frank Brehm <frank.brehm@profitbricks.com>
Build-Depends: debhelper (>= 7.0.50~), python-epydoc, python-docutils,
 python-support, texlive-latex-base, texlive-latex-extra, ghostscript, python-argparse,
 help2man, python-pkg-resources
Standards-Version: 3.8.4
Vcs-Git: git+ssh://git.profitbricks.localdomain/srv/git/python/nagios-plugin.git
Vcs-Browser: http://git.profitbricks.localdomain/gitweb/?p=python/nagios-plugin.git;a=summary

Package: python-nagios-plugin
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-support, python-argparse,
 python-pkg-resources
Description: Base module for Nagios check plugins written in Python
 .
 This package provides a family of Python modules
 to streamline writing Nagios plugins.
 .
 These modules are rewritten modules originated by the
 Perl module family Nagios::Plugin.

Package: pb-nagios-plugins
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python-support, python-argparse,
 python-pkg-resources, python-nagios-plugin (= ${binary:Version})
Recommends: smartmontools
Description: Additional Nagios plugins for usage by ProfitBricks

Package: python-nagios-plugin-doc
Architecture: all
Suggests: python-nagios-plugin (= ${binary:Version}), pdf-viewer, www-browser
Description: Base module for Nagios check plugins written in Python - documentation
 .
 This package contains the documentation in HTML and PDF format.

