#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
export DH_VERBOSE=1

LIB_PKGNAME := python-nagios-plugin
BIN_PKGNAME := pb-nagios-plugins
DOC_PKGNAME := python-nagios-plugin-doc

INSTALL_DIR_LIB := $(CURDIR)/debian/$(LIB_PKGNAME)
INSTALL_DIR_BIN := $(CURDIR)/debian/$(BIN_PKGNAME)
DOC_DIR         := $(CURDIR)/debian/$(DOC_PKGNAME)/usr/share/doc/$(DOC_PKGNAME)

build: build-stamp

build-stamp:
	$(info )
	$(info ########################)
	$(info Building ...)
	$(info )

	dh_testdir
	python setup.py build
	touch build-stamp

clean:
	$(info )
	$(info ########################)
	$(info Cleaning ...)
	$(info )

	dh_testdir
	dh_testroot
	rm -f build-stamp
	rm -rf build
	-find . -name '*.py[co]' | xargs rm -f
	dh_clean
	rm -rf *.egg-info
	rm -rf build
	rm -rf man

install: build
	$(info )
	$(info ########################)
	$(info Installing ...)
	$(info )

	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install

	@echo ""
	@echo "Installing Python stuff ..."
	python setup.py install --force --root=$(INSTALL_DIR_LIB) --no-compile -O0 --install-layout=deb
	python setup.py install --force --root=$(INSTALL_DIR_BIN) --no-compile -O0 --install-layout=deb

	@echo ""
	@echo "Documentation ..."
	mkdir -p $(DOC_DIR)/html
	mkdir -p $(DOC_DIR)/pdf

	epydoc --html -v -o $(DOC_DIR)/html $(CURDIR)/nagios
	epydoc --pdf -o $(DOC_DIR)/pdf $(CURDIR)/nagios

	dh_link

# Build architecture-independent files here.
binary-indep: build install
	$(info )
	$(info ########################)
	$(info Installing architecture-independent files ...)
	$(info )

	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installchangelogs
	dh_installdebconf
	#dh_installman

	@echo ""
	@echo "Python support ..."
	dh_pysupport
	@echo ""
	@echo "Cleaning $(INSTALL_DIR_LIB) ..."
	rm -rv $(INSTALL_DIR_LIB)/usr/lib
	rm -rv $(INSTALL_DIR_LIB)/usr/share/pyshared/nagios/plugins
	sed -i -e '/\/plugins\//d' $(INSTALL_DIR_LIB)/usr/share/python-support/python-nagios-plugin.public

	@echo ""
	@echo "Cleaning $(INSTALL_DIR_BIN) ..."
	rm -v $(INSTALL_DIR_BIN)/usr/share/pyshared/nagios-*.egg-info
	rm -v $(INSTALL_DIR_BIN)/usr/share/pyshared/nagios/*.py
	rm -rv $(INSTALL_DIR_BIN)/usr/share/pyshared/nagios/plugin
	sed -i -e '/\/plugin\//d' \
		-e '/\/nagios-.*\.egg-info/d' \
		-e '/\/nagios\/[^\/]*\.py/d' \
		$(INSTALL_DIR_BIN)/usr/share/python-support/pb-nagios-plugins.public

	#dh_installinit --name=ppd --restart-after-upgrade
	#dh_installlogrotate --name vncproxy
	#dh_installcron
	dh_compress -X.py -X.pdf
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

# Build architecture-dependent files here.
binary-arch: build install
# We have nothing to do by default.

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
