#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DOC_PKGNAME := python-nagios-plugin-doc
CFG_PKGNAME := pb-config-nagios-nrpe-server

DOC_DIR := $(CURDIR)/debian/$(DOC_PKGNAME)/usr/share/doc/$(DOC_PKGNAME)
CFG_DIR := $(CURDIR)/debian/$(CFG_PKGNAME)/usr/share/$(CFG_PKGNAME)/

PYTHON2S := $(shell pyversions -vr || true)
PYTHON3S := $(shell py3versions -vr || true)

%:
	dh $@ --with python2,python3

override_dh_auto_build:
	@echo "Building Python 2 stuff ..."
	set -e && for pyvers in $(PYTHON2S); do python$$pyvers setup.py build; done
	@echo "Building Python 3 stuff ..."
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py build; done

override_dh_auto_install:
	@echo "Installing Python 2 stuff ..."
	set -e && for pyvers in $(PYTHON2S); do python$$pyvers setup.py install --root=debian/tmp --install-layout=deb; done
	@echo "Installing Python 3 stuff ..."
	set -e && for pyvers in $(PYTHON3S); do python$$pyvers setup.py install --root=debian/tmp --install-layout=deb; done
	@echo "Documentation ..."
	mkdir -p $(DOC_DIR)/html
	mkdir -p $(DOC_DIR)/pdf
	epydoc --html -v -o $(DOC_DIR)/html $(CURDIR)/nagios
	epydoc --pdf -o $(DOC_DIR)/pdf $(CURDIR)/nagios
	@echo "Configuration ..."
	mkdir -p $(CFG_DIR)/nrpe.d
	cp $(CURDIR)/etc/nrpe.cfg $(CFG_DIR)/
	cp $(CURDIR)/etc/nrpe.d/*.cfg $(CFG_DIR)/nrpe.d/
	mkdir -p debian/$(CFG_PKGNAME)/etc/sudoers.d
	cp $(CURDIR)/etc/sudoers.d/* debian/$(CFG_PKGNAME)/etc/sudoers.d/
	chmod 0440 debian/$(CFG_PKGNAME)/etc/sudoers.d/*

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(CURDIR)/build

override_dh_install:
	dh_install --fail-missing

override_dh_compress:
	dh_compress -X.py -X.pdf
